{% extends 'base.html' %}
{% load static %}

{% block content %}



  <section id="home">

   	<div class="overlay"></div>

   	<div class="home-content-table">
   	
		   <div class="home-content-tablecell">
		   	<div class="row">
		   		<div class="col-twelve">		   			
			  		
			  				<h1 class="animate-intro">opiMiner::converter</h1>
				  			<br>
				  			<br>
				  			<h3 class="animate-intro">
							Convert mp4 to mp3<br>
							without affecting the quality
				  			</h3>	

			   <br>
<br>
			   <br>
			   <br>
		   			   
  <h3 class="animate-intro">
							Coming Soon....<br>
							
				  			</h3>	
 

			  		</div> 
             </div>
       
       

 
		   </div> <!-- end home-content-tablecell --> 		   
		</div> <!-- end home-content-table -->


   </section> <!-- end home -->




{% endblock %}

{% block include_scripts %}


{% endblock %}
