{% extends 'base.html' %}
{% load static %}

{% block content %}

   <section id="home">

   	<div  class="overlay"></div>

   	<div  class="home-content-table" style="
	     background: linear-gradient(to right, #000000, #0f9b0f);">
   	
		   <div class="home-content-tablecell">
		   	<div   class="row">
		   		<div class="col-twelve">		   			
<!-- 
<a download="manoj.mp4" href='{% static "logical/d_videos/23.mp4" %}'>Download</a> -->
			  			

			  			
			  				<h1 class="animate-intro">opiMiner</h1>

				  		<h3 class="animate-intro">	

				  			 Fast Services :: Without Compromising with Quality
				  			
				  			</h3>

				  			<hr>
	
	<div class="list-group">
		<b>
  <a href="{% url 'index_g' %}" class="list-group-item list-group-item-success" style="background-color: rgba(0,0,0,0.1); color:white;"> <i class="fa fa-music" aria-hidden="true"></i>    Listen or Download any mp3 or video song </a>
  <hr>
  <a href="{% url 'yvd' 0 %}" class="list-group-item list-group-item-danger" style="background-color: rgba(0,0,0,0.1); color:white;"><i class="fa fa-download" aria-hidden="true"></i>  Download any Youtube video</a>
  <hr>
  <a href="{% url 'cnv' %}" class="list-group-item list-group-item-warning" style="background-color: rgba(0,0,0,0.1); color:white;"> <i class="fa fa-file-audio-o" aria-hidden="true"></i>  Convert any mp4 video to mp3 audio without affecting sound quality</a>
  <hr>
  <a href="{% url 'yvd' 1 %}" class="list-group-item list-group-item-info" style="background-color: rgba(0,0,0,0.1); color:white;"><i class="fa fa-exchange" aria-hidden="true"></i>  Convert any Youtube video to mp3 audio</a>
<hr>
</b>
</div>

	  		 	
			   <br>
			   <br>


			  		</div> 
             </div>
       
       

				  			<div class="more animate-intro">
				  			

				  			<!-- 	<a class="smoothscroll button stroke" href="#">
				  					
				  				</a> -->
				  			</div>							
 
		   </div> <!-- end home-content-tablecell --> 		   
		</div> <!-- end home-content-table -->


   </section> <!-- end home -->




  <section id="home" class="aboutsection" style="  background: linear-gradient(to right, #52c234, #061700);">
   	<div class="overlay"></div>

   	<div class="home-content-table">
   	
		   <div class="home-content-tablecell">
		   	<div class="row">
		   		<div class="col-twelve">		   			
			
			<h1 class="animate-intro">About Us </h1>
				  			
				  			<h3 class="animate-intro">
							 <span>opiMiner</span><hr>
							  Promising quality services in almost no time
							  </h3>	
							   <hr><p style="font-size: 15pt; color:white; text-align: left "><b>opiMiner is an All In One robo. :: 24x7 at your service :: It provides you fast downloading and conversion services without any charge. opiMiner lets you download any mp3 or video song in best available quality by providing direct links.
							   Moreover, it lets you download any youtube video and yes most importantly it can convert any mp4 video or any Youtube video to mp3 audio in a couple of seconds.</b></p>	

				  			

			   <br>
			   <br>





  


			  		</div> 
             </div>
       
       

		   </div> <!-- end home-content-tablecell --> 		   
		</div> <!-- end home-content-table -->


	
   </section> <!-- end home -->










{% endblock %}

{% block include_scripts %}


{% endblock %}
