{% extends 'base.html' %}
{% load static %}

{% block content %}





  <section id="home">

   	<div class="overlay"></div>

   	<div class="home-content-table">
   	
		   <div class="home-content-tablecell">
		   	<div class="row">
		   		<div class="col-twelve">		   			
			  		
{% ifequal ia 0%}
			  				<h1 class="animate-intro">opiMiner::gomp4</h1>
				  		
				  			<br>
				  			<h3 class="animate-intro">
							Download any Youtube video<br> in
							hd quality..
				  			</h3>	

			   <form method='POST' action='./0'>{% csrf_token %}

<!-- 
    <div class="input-group " > -->

<div class='row'>
	<div class='col-twelve'>
<input type="text" class="form-control" name="link" required="" id="id_link" minlength="3" maxlength="150" placeholder="Paste video url..." style="  display: block;  margin: 0;  box-shadow: 0 0 1px 1px #969696;   font-family: sans-serif; font-color:white;   appearance: none;    color:red;  border: solid  #969696; height: 100% ">

   	       </div>

<div class='col-twelve'>

      <input class="btn btn-secondary" style="display: block;  margin: 0 auto; cursor:pointer ; background-color: rgba(0,0,0,0.1); color:white;  box-shadow: 0 0 5px 2px #969696; height: 100%"  name="submit" type="submit" value="Download">
</div>
    </div>
<!-- </div>
 -->    </form>
{% endifequal %}


  
			  		
{% ifequal ia 1%}
			  				<h1 class="animate-intro"> opiMiner</h1><h3>::Youtube Converter::</h3>
				  			<br>
				  			
				  			<h3 class="animate-intro">
							Convert any Youtube video<br> to mp3 ..
				  			</h3>	

			   <form method='POST' action='./1'>{% csrf_token %}

<!-- 
    <div class="input-group " > -->

<div class='row'>
	<div class='col-twelve'>
<input type="text" class="form-control" name="link" required="" id="id_link" minlength="3" maxlength="150" placeholder="Paste video url..." style="  display: block;  margin: 0;  box-shadow: 0 0 1px 1px #969696;   font-family: sans-serif; font-color:white;   appearance: none;    color:red;  border: solid  #969696; height: 100% ">

   	       </div>

<div class='col-twelve'>

      <input class="btn btn-secondary" style="display: block;  margin: 0 auto; cursor:pointer ; background-color: rgba(0,0,0,0.1); color:white;  box-shadow: 0 0 5px 2px #969696; height: 100%"  name="submit" type="submit" value="Convert">
</div>
    </div>
<!-- </div>
 -->    </form>
{% endifequal %}

 

			  		</div> 
             </div>
       
       

 
		   </div> <!-- end home-content-tablecell --> 		   
		</div> <!-- end home-content-table -->


   </section> <!-- end home -->




{% endblock %}

{% block include_scripts %}


{% endblock %}
